@media (min-width: 320px){
    .icon {
        height: 50px;
        width: 50px;
        position: absolute;
        margin: 0 !important;
        top: 1px;
        left: 1px;
        object-fit: cover;
        z-index: 1;
    }
}